.card {
  box-sizing: border-box;
  width: 22%;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  padding: 10px;

  @media only screen and (max-width: 1024px) {
    width: 30%;
  }

  @media only screen and (max-width: 768px) {
    width: 45%;
  }

  @media only screen and (max-width: 525px) {
    width: 100%;
  }
}

.card:hover {
  transform: scale(0.95);
}

.card .restaurant-image-container {
  /* max-height: 150px; */
  border-radius: 10px;
  overflow: hidden;
}

.card .restaurant-image-container .restaurant-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 5px;
}

.card .name {
  font-weight: bolder;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card .description .areaName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card .ratings,
.card .cuisines,
.card .areaName {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
}

.card .ratings {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: space-between;
  padding-top: 5px;

  @media only screen and (max-width: 525px) {
    flex-wrap: wrap;
  }
}

.card .ratings span {
  font-size: 15px;
}

.card .ratings > span:first-child {
  color: white;
  padding: 5px;
  background-color: var(--light-green);
  border-radius: 5px;
}

.card .cuisines,
.card .areaName {
  font-weight: 200;
  color: var(--text-color);
}

.card .cuisines {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
