:root {
  font-family: 'PT Sans', 'Lato', Calibri, sans-serif;
  --primary-bg-color: #ff5200;
  --secondary-bg-color: #000;
  --nav-text-color: #fff;
  --text-color: rgba(2, 6, 12, 0.92);
  --light-red: rgb(236, 56, 56);
  --light-green: #00ad1d;
  --light-black: rgb(23, 23, 23);
}

.primary-btn {
  color: var(--nav-text-color);
  background: var(--secondary-bg-color);
  border: 1px solid var(--secondary-bg-color);
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}

.primary-btn:hover {
  color: var(--secondary-bg-color);
  background: var(--nav-text-color);
}
