.navbar {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
  padding: 10px 20px;
  color: var(--text-color);
}

.navbar .logo {
  width: auto;
  height: 50px;
  margin-right: auto;
}

.navbar .links {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 30px;
}

.navbar .links li {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}
