.navbar {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
  padding: 10px 20px;
  color: var(--nav-text-color);
}

.navbar .logo {
  width: auto;
  margin-right: auto;
}

.navbar .logo img {
  height: 50px;
}

.navbar .links {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 30px;
}

.navbar .links li {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}

.navbar .links li a {
  color: var(--nav-text-color);
  text-decoration: none;
}

.navbar .links li a:hover {
  color: var(--secondary-bg-color);
}
