.shimmer-card-container {
  display: flex;
  gap: 30px 10px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}

.shimmer-card {
  width: 23%;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shimmer-card .description {
  padding: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.shimmer-card .rectangle,
.shimmer-card .line {
  border-radius: 16px;
  width: 100%;
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

.shimmer-card .rectangle {
  height: 185px;
}

.shimmer-card .line {
  height: 20px;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
