.shimmer-card-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px 80px;
  justify-content: center;
  box-sizing: border-box;

  @media only screen and (max-width: 1024px) {
    padding: 20px;
  }

  @media only screen and (max-width: 512px) {
    padding: 16px;
  }
}

.shimmer-card {
  width: 22%;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  padding: 10px;
  box-sizing: border-box;

  @media only screen and (max-width: 1024px) {
    width: 30%;
  }

  @media only screen and (max-width: 768px) {
    width: 45%;
  }

  @media only screen and (max-width: 525px) {
    width: 100%;
  }
}

.shimmer-card .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 5px;
}

.shimmer-card .rectangle,
.shimmer-card .line {
  border-radius: 10px;
  width: 100%;
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

.shimmer-card .rectangle {
  height: 150px;

  @media only screen and (max-with: 525px) {
    height: 200px;
  }
}

.shimmer-card .line {
  height: 24px;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
